@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <div class="text-center border border-danger p-3 mb-2 bg-danger text-white">
        <h1 class="display-4 text-lg-center fw-bolder">Willkommen Im KleinGeschäft</h1>
    </div>
    <div class="text-center card-img m-2">
        <img src="~/Ein-kleines-Geschäft.jpg" alt="" class="img-fluid rounded mx-auto d-block border border-danger">
    </div>
</div>

