@page
@model KleinGeschäft.Pages.ProductCategory.CreateModel
@{
}

<form method="post">
    <div class="row row-cols-auto">
        <div class="col-md-6">
            <label for="name">Gruppe Name</label>
            <input class="form-control" name="name" id="name" type="text" />
        </div>
        <div class="col-md-12 m-md-auto">
            <button type="submit" class="btn btn-success">Erstellen</button>
        </div>
    </div>
</form>